*~
*.o
*.root
*.eps
*.pdf
*.d
*.so
compare/linac
.d00*
data/err
data/out
data/script
data/lin
detsim/trunk
detsim/out
detsim/err
detsim/script
detsim/card
skg4/trunk
darkr_for_skdetsim/output
compare/txt
compare/out
compare/err
compare/script
compare/pdf
compare/compare
compare/compare_all
compare/corepmt.dat
*bk
runnum_vs_neffhit/runnum_vs_neffhit
corepmt_tune/corepmt_tune
corepmt_tune/corepmt.dat
lowfit/script
lowfit/out
lowfit/err
skg4/script
skg4/card
skg4/out
skg4/err
darkr/output
