*~
*.o
*.root
*.eps
*.pdf
*.d
*.so
.d00*
*bk
darkr/output
detsim/trunk
detsim/out
detsim/err
detsim/script
detsim/card
skg4/trunk
skg4/card
skg4/out
skg4/err
skg4/script
lowfit/script
lowfit/out
lowfit/err
lowfit/lowfit_mc
lowfit/lowfit_sk4_root
compare/txt
compare/out
compare/err
compare/script
compare/pdf
compare/compare
compare/compare_all
compare/corepmt.dat
